<!DOCTYPE html>
<html>
<head>
    <title>Ejecución de Python</title>
    <script>
        function handleTab(event) {
            if (event.key === 'Tab') {
                event.preventDefault();
                const textarea = event.target;
                const start = textarea.selectionStart;
                const end = textarea.selectionEnd;
                const text = textarea.value;
                textarea.value = text.substring(0, start) + '\t' + text.substring(end);
                textarea.selectionStart = textarea.selectionEnd = start + 1;
            }
        }

        function clearCodeAndSubmit() {
            localStorage.removeItem('pythonCode'); // Borra el código almacenado
            const textarea = document.querySelector('textarea[name="code.py"]');
            textarea.value = ''; // Limpia el cuadro de entrada
            const form = textarea.closest('form');
            form.submit(); // Envía el formulario
        }
        function executeCode() {
            const textarea = document.querySelector('textarea[name="code.py"]');
            const code = textarea.value;
            const form = textarea.closest('form');
            form.submit(); // Envía el formulario
        }
    </script>
</head>
<body style="background-color: #145cb8;">
    <div class="toggle-button" style="text-align: right; padding-right: 20px;">
        <a href="/cpp" style="background-color: white; border-color: #ffd400; width: 100px; height: 40px; border-radius: 30px; font-size: 20px; margin-left: 20px; padding: 10px;">C++</a>
        <a href="/python" style="background-color: white; border-color: #ffd400; width: 100px; height: 40px; border-radius: 30px; font-size: 20px; margin-left: 20px; padding: 10px;">Python</a>
    </div>
    
    <img src="/static/logoPy.png" width="200" height="200" alt="logo.png" style="margin-left: 650px;"/><br><br><br>
              
    <input type="submit" style="background-color: #ffd400; border-color: #ffd400; width: 100px; height: 40px; border-radius: 30px; margin-left: 380px; font-size: 20px;" value="Ejecutar" onclick="executeCode()">
    <button type="button" style="background-color: #091757; border-color: #091757; color: white; border-radius: 30px; margin-left: 570px; width: 100px; height: 40px; font-size: 20px;" onclick="clearCodeAndSubmit()">Borrar</button>
    <br>
    <br>

    <div style="display: flex;">
        <form method="POST">
            <textarea name="code.py" rows="10" cols="50" onkeydown="handleTab(event)" style="background-color: #fbf6f3; width: 700px; height: 400px; border-color: black; border-style:unset; margin-left: 60px;">{{ code }}</textarea>   
        </form> 

        <div style="background-color: black; width: 600px; height: 400px; padding-left: 50px; margin-left: 20px;">
            <h2 style="color: red; font-size: 14px; margin-left: 220px;">   --  return    --</h2>
            <pre style="color: wheat">{{ result }}</pre>
        </div> 
    </div>
</body>
</html>